<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>


<div class="containerk">
  <h1 class="habout">About Me</h1>
  <img src="../Assets/images/WhatsApp Image 2022-04-22 at 3.27.21 PM.jpeg" alt="Profile Picture" class="profile-picture">
  <p class="about">Hey! My name is KIRTI VERMA and I am pursuing Software engineering technician . I have a passion for IT field and have been working in this industry for 5 years. I am knowledgeable in different type of languages of IT and always strive to stay up-to-date with the latest advancements in my field.</p>
  <p class="about">I am excited to share my portfolio with you, showcasing some of my past projects and achievements. If you would like to know more or collaborate on a project, please don't hesitate to reach out!</p>
  <a href="../Assets/images/resume.pdf"><button type="button" class="btn btn-outline-secondary">Look into my Resume</button> </a>
       </div>
</div>  
  <!--Script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>


