<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  
<div class="containerc">
  <h1 class="cheader">Contact Us</h1>
  <form action="/">
    <input type="text" placeholder="First Name" required>
    <input type="text" placeholder="Last Name" required>
    <input type="email" placeholder="Email" required>
    <textarea rows="5" placeholder="Message" ></textarea>
    <input type="submit" value="Submit">
  </form>
</div>
  
 
  
  <!--Script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>

