<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  
<div class="containerp">
  <h1>Portfolio</h1>
  <div class="projects">
    <!-- Add project cards for each of your projects -->
    <div class="project">
      <img src="../Assets/images/html.jpg" alt="Cardbody">
      <h2>front-end</h2>
  <p>This project is done by using css and html.</p>
      
    </div>
    <div class="project">
      <img src="../Assets/images/java.jpeg" alt="Project 2">
      <h2>Diagram </h2>
      <p>This assessment was done by using java.</p>
      
    </div>
    
  </div>
</div>
 
  
  <!--Script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>

