<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

  <div class="containers">
    <h1 class="sheader">Services</h1>
    <div class="services">
      <!-- Add service cards for each of your services -->
      <div class="service">
        <div class="icon">
          <i class="fas fa-pencil-alt"></i>
        </div>
        <h2>Graphic Design</h2>
        <p class="spara">Graphic design is a craft where professionals create visual content to communicate messages. By applying visual hierarchy and page layout techniques, designers use typography and pictures to meet users' specific needs and focus on the logic of displaying elements in interactive designs, to optimize the user experience.</p>
      </div>
      <div class="service">
        <div class="icon">
          <i class="fas fa-code"></i>
        </div>
        <h2>Web Development</h2>
        <p class="spara">Web development is the building and maintenance of websites; it's the work that happens behind the scenes to make a website look great, work fast and perform well with a seamless user experience. Web developers, or 'devs', do this by using a variety of coding languages.</p>
      </div>
      <div class="service">
        <div class="icon">
          <i class="fas fa-camera"></i>
        </div>
        <h2>Photography</h2>
        <p class="spara">Photography is the art, application, and practice of creating durable images by recording light, either electronically by means of an image sensor, or chemically by means of a light-sensitive material such as photographic film..</p>
      </div>
      
      </div>
  </div>
 
  
  <!--Script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>

