.containerp {
    /* max-width: 800px;
    margin: 50px auto; */
    text-align: center;
  }
  h1 {
    font-size: 2em;
    margin: 1em 0 0.5em;
    color: #333;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 0;
  }
  .project {
    width: 300px;
    margin: 1em;
    text-align: left;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #ccc;
  }
  .project img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 1em;
  }
  h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: #333;
  }
  p {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333;
    margin: 1em 0;
  }
  a {
    display: block;
    font-size: 1.2em;
    margin: 1em 0;
    color: #333;
  }